*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   height:555px ;
   background-size: cover;
    background-image: url(./images/02.jpg);
}
@media(max-width:430px){
   .container{
   height: 800px;
    background-size: cover;
    background-image: url(./images/02.jpg);
}

}